.header {
  background: rgba(157, 157, 157, 0.1);
  border-bottom: 2px solid rgba(113, 124, 150, 0.2);
}
.headerContainer {
  margin: 0 auto;
  max-width: 1400px;
  padding: 16px;

  display: flex;
  justify-content: space-between;
}
.headerLogos {
  display: flex;
  align-items: center;
  gap: 12.5px;
}
.headerLink {
  /* background-color: #242424; */
}
.headerLogoFigma {
  height: 2.54vh;
  width: 1.6vw;
}
.headerLine {
  height: 2.65vh;
  width: 0.11vw;
  background-color: rgba(209, 210, 222, 1);
}
.headerLogo {
  height: 2.65vh;
}
.headerCountValue {
  color: rgba(113, 124, 150, 1);

  font-family: var(--sub-font);
  font-style: Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.headerCount {
  display: flex;
  flex-direction: column;
}
